@model string

@{
    Layout = "Layouts/BootstrapInputGroupString.cshtml";
}

@section BeforeInput
{
    <div class="input-group-prepend">
        <span class="input-group-text">Subject</span>
    </div>
}
