@using SimpleStudentElections.Helpers
@model SimpleStudentElections.Models.Election

<div class="modal fade" id="position-entry-edit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit position entry</h5>
                <button type="button" class="close disable-during-request" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="error-container"></div>
                @{
                    Html.RenderPartial("_PositionForm", Model, new {IsNew = false});
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary disable-during-request" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary confirm-button disable-during-request">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
