@using SimpleStudentElections.Logic
@model SimpleStudentElections.Models.Election

@{
    ViewBag.Title = Model.Name + " | Abortion";
}

<h2>@Model.Name</h2>

<div class="alert alert-danger">
    <div class="row">
        <div class="col-md-1">
            <i class="fas fa-exclamation-circle fa-4x"></i>
        </div>
        <div class="col-md-11">
            <h4 class="alert-heading">You are about to abort this election</h4>
            <p>
                This action will put the election into <strong>Aborted</strong> state.
                This means that this election will be scrapped forever
            </p>
            <hr/>
            <ul>
                <li>
                    This is a <strong>destructive and irreversible action</strong>. <strong>It cannot be undone</strong>!
                </li>
                <li>
                    The election and all associated data will remain in the system for at least @ElectionLifecycleInfo.GetConfiguration().MinDaysForDeletion days,
                    after which it can be manually removed
                </li>
            </ul>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <a href="@Url.Action("Details", new {id = Model.Id})" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-danger">Confirm</button>
    </div>
}