@model SimpleStudentElections.Models.Election

@{
    ViewBag.Title = Model.Name + " | Activation";
}

<h2>@Model.Name</h2>

<div class="alert alert-success">
    <h4 class="alert-heading">You are about to activate this election</h4>
    <p>
        This action will put the election into <strong>PreNominations</strong> state.
        This means:
        <ul>
            <li>Eligible students will be able to see this election in "upcoming elections" section</li>
            <li>
                When the time comes for nominations to begin the system will send emails to all elidgeble students
                and open the nominations (and generally proceed with normal schedule).
            </li>
        </ul>
    </p>
    <hr/>
    <ul>
        <li>You can only preform this action if at least a day remains until nominations start</li>
        <li>You can revert the election back to disabled state until the elections start</li>
    </ul>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <a href="@Url.Action("Details", new {id = Model.Id})" class="btn btn-danger">Cancel</a>
        <button type="submit" class="btn btn-primary">Confirm</button>
    </div>
}