<?xml version="1.0" encoding="utf-8"?>

<!--
Web.config file for SimpleStudentElections.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <sectionGroup name="appCustomConfig">
            <section name="defaultEmailSender" type="SimpleStudentElections.Logic.Emails.EmailSenderSection" />
            <section name="auditLogging" type="SimpleStudentElections.AuditLoggingConfiguration" />
            <section name="electionLifecycle" type="SimpleStudentElections.Logic.ElectionLifecycleConfiguration" />
            <section name="auth" type="SimpleStudentElections.Auth.AppAuthConfiguration" />
        </sectionGroup>
    </configSections>
    <system.web>
        <compilation debug="true" targetFramework="4.7.2">
            <assemblies />
        </compilation>
        <httpRuntime targetFramework="4.7.2" />
    </system.web>
    <system.webServer>
        <handlers>
            <add name="MiniProfiler" path="mini-profiler-resources/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode" />
        </handlers>
    </system.webServer>
    <system.net>
      <!-- TODO: Configure this !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
      <!-- https://stackoverflow.com/questions/1264672/how-to-save-mailmessage-object-to-disk-as-eml-or-msg-file/1264724#1264724 -->
      <mailSettings>
            <smtp deliveryMethod="SpecifiedPickupDirectory">
                <specifiedPickupDirectory pickupDirectoryLocation="D:\Dev\Temp\Emails" />
            </smtp>
        </mailSettings>
    </system.net>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.1.0" newVersion="7.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <connectionStrings>
        <!-- TODO: Configure !!!!!!!!!!!!!!!!!! -->
        
        <!-- Custom DB for the elections app - need full write/control capabilities-->
        <add name="Voting" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-B01F9N6\SQLEXPRESS;Initial Catalog=Voting;Integrated Security=True;" />
        
        <!-- Custom DB for Hangfire library (background job scheduler) - need full write/control capabilities-->
        <add name="BackgroundJobStorage" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-B01F9N6\SQLEXPRESS;Initial Catalog=BackgroundJobStorage;Integrated Security=True;" />
        
        <!-- The Timetable DB - need read on Users view, auth sessions table, auth tokens table -->
        <add name="Timetable" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-B01F9N6\SQLEXPRESS;Initial Catalog=Timetable;Integrated Security=True;" />
    </connectionStrings>
    <appCustomConfig>
        <!-- Doesn't need changes -->
        <electionLifecycle minHoursForActivation="24" minDaysForDeletion="730" />
        <defaultEmailSender address="elections@example.com" displayName="Elections" />

        <!-- TODO: Configure !!!!!!!!!!!!!!!!!! -->
        <auditLogging filePath="D:\Dev\Temp\Log\Audit Log.txt" />
        <auth timetableLoginUrl="https://timetable.example.com/login.aspx?EVote" debugMode="true" logPath="D:\Dev\Temp\Log\Auth Log.txt"></auth>
    </appCustomConfig>
</configuration>